@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background-color: #465467ef;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 80%;
  background-color: #d15e41;
  background-image: linear-gradient(
    315deg,
    #d15e41 0%,
    #a23b72 37%,
    #2e86ab 100%
  );

  box-shadow: 0 5px 10px #9aa0b90d, 0 15px 40px #0000001a;
  
  border: none;
  border-radius: 10px;
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1.1rem;
}

.searchContainer {
  background: #1e2b48;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchContainer input {
  background-color: transparent;
  border: none;
  width: 80%;
  outline: none;
  color: white;
  font-size: 15px;
}

.search-container button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
}

.details-container {
  margin-top: 20px;
  border-radius: 10px;
  background: #1e2b48;
  padding: 20px 25px;
}

.profile {
  display: flex;
}

.profile-image {
  border-radius: 50%;
  border: 4px solid #293039;
  height: 150px;
  width: 150px;
}

.profile-image-icon {
  height: 100%;
  width: 100%;
}

.profile-details {
  padding: 10px;
  width: 25rem;
}

.username {
  font-size: 13px;
  color: #007bff;
}

.bio {
  font-size: 14px;
  margin-top: 10px;
}

.stats {
  background: #141d2e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
}

.media {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.media p {
  width: 50%;
  display: flex;
  align-items: center;
}

.media-name {
  color: gainsboro;
  font-size: 14px;
  margin-left: 4px;
}

@media (max-width: 500px) {
  .media {
    display: flex;
    flex-direction: row;
  }
}
